.aboutImg{
    width: 30vw;
    height: 30vw;
}
h3{
    margin-top: 20px;
    font-size: 32px;
    margin-bottom: 20px;

}
.textBox{
    display: flex;
    font-size: 18px;
    gap: 15px;
    padding: 20px;
}