/* styles.css */
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
} 
header{
    background-color: rgb(27, 79, 71);
}
button{
    background-color: white;
    border-color: black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
    box-shadow: 5px 2px 3px black;
    cursor: pointer;
}
button:hover{
    background-color: rgb(206, 255, 239);
    box-shadow: none;
}